
#include "resource.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
//
// File Info Dialog
//

IDD_INFOBOX DIALOG DISCARDABLE  0, 0, 211, 257

STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN

    RTEXT           "Fi&le",IDC_STATIC,1, 5, 12, 8
    EDITTEXT        IDC_NAME,17, 3, 192, 12,ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "",IDC_INFO, 3, 20, 205, 10, ES_AUTOHSCROLL | ES_READONLY

    GROUPBOX        " Tag ",IDC_STATIC,1, 30, 209, 210
    RTEXT           "&Title",IDC_STATIC,8, 42, 31, 8
    EDITTEXT        IDC_TITLE,43,40,164,12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "&Artist",IDC_STATIC,8,56,31,8
    EDITTEXT        IDC_ARTIST,43,54,164,12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "Albu&m",IDC_STATIC,8,70,31,8
    EDITTEXT        IDC_ALBUM,43,68,164,12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "&Comment",IDC_STATIC,8,84,31,8
    EDITTEXT        IDC_COMMENT,43,82,164,12,ES_AUTOHSCROLL | ES_READONLY

    RTEXT           "&Date",IDC_STATIC,8,98,31,8
    EDITTEXT        IDC_YEAR,43, 96, 64, 12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "Track &N°",IDC_STATIC,111, 98, 32, 8
    EDITTEXT        IDC_TRACK,146, 96, 24, 12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "o&f",IDC_STATIC,172, 98, 8, 8
    EDITTEXT        IDC_TRACKTOTAL,183, 96, 24, 12,ES_AUTOHSCROLL | ES_READONLY

    RTEXT           "&Genre",IDC_STATIC,8, 112, 31, 8
    EDITTEXT        IDC_GENRE,43, 110, 64, 12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "Cop&yright",IDC_STATIC,109, 112, 32, 8
    EDITTEXT        IDC_COPYRIGHT,146, 110, 61, 12,ES_AUTOHSCROLL | ES_READONLY

    RTEXT           "C&omposer",IDC_STATIC,8,126,31,8
    EDITTEXT        IDC_COMPOSER,43,124,164,12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "&Performer",IDC_STATIC,8,140,31,8
    EDITTEXT        IDC_PERFORMER,43,138,164,12,ES_AUTOHSCROLL | ES_READONLY
    RTEXT           "&URL",IDC_STATIC, 55, 154, 17, 8
    EDITTEXT        IDC_URL,75, 152, 132, 12,ES_AUTOHSCROLL | ES_READONLY

    LTEXT           "D&escription",IDC_STATIC,5, 157, 52, 8
    EDITTEXT        IDC_DESCRIPTION,3, 166, 205, 72, ES_MULTILINE | ES_READONLY | WS_VSCROLL
    LTEXT           "",IDC_ENCODER,54,240,161,18
    DEFPUSHBUTTON   "OK",IDOK,2,242,50,14
END

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#define OPUS_VERSION 0,9,1,2

VS_VERSION_INFO VERSIONINFO
 FILEVERSION OPUS_VERSION
 PRODUCTVERSION OPUS_VERSION
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Gillibert Software"
            VALUE "FileDescription", "Opus File decoder plugin for Winamp 2+"
            VALUE "FileVersion", "0,9,1,2"
            VALUE "InternalName", "in_opus.dll"
            VALUE "LegalCopyright", "De mes deux"
            VALUE "OriginalFilename", "in_opus.dll"
            VALUE "ProductName", "Opus input plugin"
            VALUE "ProductVersion", "0,9,1,2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END

END

/////////////////////////////////////////////////////////////////////////////
